@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p><a href="Account/Login">LOGIN</a></p>
    <p><a href="Account/Signin">SIGNIN</a></p>
    <p><a href="Account/Logout">LOGOUT</a></p>
</div>
